@charset "UTF-8";
/****== 註解 ==****/
.marign_10 {
  margin-top: 10px;
}

header {
  width: 100%;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
}

footer {
  width: 100%;
}

body {
  padding: 10px 20px 10px 40px;
  margin: 10px auto;
  font-size: 13px;
  content: "中文字串";
  font-family: Arial, sans-serif;
  background-color: #007bff;
}

.btn_default {
  width: 160px;
  height: 40px;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  cursor: pointer;
  transition: .2s all ease;
}

.btn_default:hover {
  background-color: #888686;
  color: #fff;
}

.btn_default::before {
  content: 'before ';
}

.btn_default::after {
  content: 'after ';
}

.btn_error {
  width: 100px;
  height: 50px;
  background-color: #ff0000;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_blue {
  width: 100px;
  height: 30px;
  background-color: #c1f03f;
  text-align: center;
}

.box {
  width: 100px;
  height: 30px;
  background-color: #f0ba0b;
}

.box-w {
  border-radius: 5px;
}

h1 {
  font-size: 30px;
}

h2 {
  margin-left: -10px;
}

h3 {
  width: 40em;
}

h4 {
  font: 2px;
  font-size: 66.66667px;
  width: 66px;
  height: 67px;
  margin: 67px;
  padding: 30px;
}

body {
  font-size: 1rem;
  width: 100%;
  height: auto;
  background-color: #888686;
}

* {
  box-sizing: border-box;
}

.inner {
  font-size: 0;
}

.box {
  width: 200;
}

.text-color {
  color: greenyellow;
}

.box_1 {
  width: 1px;
}

.box_2 {
  width: 2px;
}

.box_3 {
  width: 3px;
}

.box_4 {
  width: 4px;
}

.box_5 {
  width: 5px;
}

.box_6 {
  width: 6px;
}

.box_7 {
  width: 7px;
}

.box_8 {
  width: 8px;
}

.box_9 {
  width: 9px;
}

.box_10 {
  width: 10px;
}

.content {
  margin: 0 auto;
  width: 100%;
}

.red {
  background-color: #f20;
}

.blue {
  background-color: #4340fa;
}

.col-1 {
  width: 8.33333%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-2 {
  width: 16.66667%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-3 {
  width: 25%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-4 {
  width: 33.33333%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-5 {
  width: 41.66667%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-6 {
  width: 50%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-7 {
  width: 58.33333%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-8 {
  width: 66.66667%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-9 {
  width: 75%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-10 {
  width: 83.33333%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-11 {
  width: 91.66667%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.col-12 {
  width: 100%;
  display: inline-block;
  height: 300px;
  border: 0;
}

.img_icon {
  background-image: url("icon.jpg");
}

.img_a1 {
  background-image: url("a1.jpg");
}

.img_a2 {
  background-image: url("a2.jpg");
}

.img_a3 {
  background-image: url("a3.jpg");
}

.img_a4 {
  background-image: url("a4.jpg");
}

.img_a5 {
  background-image: url("a5.jpg");
}

.img_bg {
  background-image: url("bg.jpg");
}
/*# sourceMappingURL=style.css.map */