// mixin 不帶值
@mixin box() {
    width: 100px;
    height: 30px;
    background-color: #f0ba0b;
    // @include borderRadius();
}

// border-radius 
@mixin borderRadius($r:5px) {
    border-radius: $r;
}

// mixin 帶值  // 預設值 // null值
@mixin rect($w, $h:$w, $bgc:null) {
    width: $w;
    height: $h;
    background-color: $bgc;
}

//
@mixin marginAuto($dis: 0) {
    margin: $dis auto;
}

// 判斷式  @if  @else  @else if
@mixin fontSize($device) {
    @if $device==desktop {
        font-size: 1.8rem;
    }

    @else if $device==laptop {
        font-size: 1.5rem;
    }

    @else {
        font-size: 1rem;
    }
}

//
@mixin textColor($textcolor) {
    @if $textcolor==black and $textcolor==#000 {
        color: $textcolor;
    }

    @else {
        color: greenyellow;
    }
}


// $dis 方向
@mixin push_left($num, $dis) {
    @for $i from 1 through $num {
        .push_#{$dis}_#{$i} {
            position: relative;
            #{$dis}: $i * 1px;
        }
    }
}


//grid system
@mixin grid($col) {
    @for $i from 1 through $col {
        .col-#{$i} {
            width: ($i / $col) * 100%;
            display: inline-block;
            height: 300px;
            border: 0;
        }
    }
}


//img
@mixin img_Url($url , $format) {
    @each $img in $url {
        .img_#{$img} {
            background-image: url('#{$img}.#{$format}');
            background-repeat: no-repeat;
            background-size: cover;
            @content; // 額外增加屬性
        }
    }
}

@mixin btn-moudles($btn-color) {
    @each $k , $v in $btn-color {
        .btn-#{$k} {
            @include rect(150px, 40px, $v);
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid $v;
            transition: .4s all ease;
            &:hover {
               background-color: darken($v , 30); 
               color : invert($v);
            }
         }
    }
}

//rwd

@mixin rwd($breakpoint) {
    // 桌機
    @if $breakpoint=='desktop' {
        @media all and (min-width: $desktop) {
            @content;
        }
    }

    @else if $breakpoint=='medium' {
        //平板
        @media all and (min-width: $medium) {
            @content;
        }
    }

    @else if $breakpoint=='small' {
        //手機
        @media all and (max-width: $small) {
            @content;
        }
    }
}

