@import '../node_modules/bourbon-neat/core/neat' ;

body {
    margin: 0;
    padding: 0;
    color: #f0f0f0;}

section {
    width: 100vw;
    height: 100vh;
}

.red {
    background-color: #eb0047;
}
.blue {
    background-color: blue;
}



.h100 {
    height: 100vh;
}



.wrapper_12 {
    @include grid-container;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .sidebar {
        @include grid-column(2);
        @extend .red ;
    }
    .content {
        @include grid-column(8);
        @extend .red ;
    }
    .menu {
        @include grid-column(2);
        @extend .red ;
    }

}

$setting : (
  gutter : 10px,
);



.wrapper_all_12 {
    @include grid-container;
    .col_1 {
        @include grid-column(1 , $setting);
        @extend .blue ;
        height: 100vh;
         
    }
}
