html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.box {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #00ffaa;
}

body {
  background-color: #292929;
  color: #fff;
}

body section {
  width: 100vw;
  height: 100vh;
}

body section.even {
  background-color: #393939;
}

body .section01 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .section01 h2 {
  font-size: 3rem;
}

body .section03 {
  transition: all .5s ease;
}

body .section03.on {
  background-color: #f97918;
}

body .section04 {
  background-image: url("https://placem.at/places");
  background-size: cover;
}

body .section04 .text {
  width: 100vw;
  height: 25vh;
  position: relative;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: #505050;
}