body{
    background-color: rgb(41, 41, 41);
    color: #fff;
}

.box {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(0, 255, 170);
  }

 .basic {
    
 } 

 .from {
  
 }

 .fromTo {
 
}
.staggerTo {
   margin-top: 10px;
}
.mv0 {
    background-color: #ff0000;
}

.mv {
    background-color: rgb(194, 194, 194);
}