// 註解
/****== 註解 ==****/  

$fontSize :  16px;  // 數值
$marginTop : 10px; // 數值
$color : #f20; // 顏色 
$text : '中文字串';
$fontFamily : Arial,sans-serif; // 字串
$padding : 10px 20px 10px 40px; // list
$button_color : (
  'blue' : #007bff,
  'yellow' :#f2ff00,
  'btn_error' : #f20,
  'btn_gray' : #333
);  //map
$null : null; // 會把屬性刪除

body {
    padding: $padding;
    margin: $marginTop auto;
    font-size: $fontSize ;
    content : $text;
    font-family: $fontFamily;
    background-color: map-get($button_color, 'btn_gray' );
    color : $null;
}


h1 {
  font-size: $fontSize * 4;  
}

h2 {
    font-size: $fontSize * 3;  
  }