// 註解
/****== 註解 ==****/
@import 'sass/var';
@import 'sass/common';

//layout
@import 'sass/layout/header';
@import 'sass/layout/footer';

body {
    padding: $padding;
    margin: $marginTop auto;
    font-size: $fontSize;
    content: $text;
    font-family: $fontFamily;
    background-color: map-get($button_color, 'btn_gray');
    color: $null;

    // .wrapper {
    //     h1 {
    //         font-size: $fontSize * 4;

    //         span {
    //             font-size: $fontSize;

    //             .icon {
    //                 position: relative;
    //                 top: 10px
    //             }
    //         }
    //     }

    //     h2 {
    //         font-size: $fontSize * 3;
    //     }
    // }

}