@import 'base';
@import 'header';
@import 'common';
@import 'footer';
@import 'login';


body {
    color: greenyellow;
    background-color: rgba(196, 47, 204, 0.66);
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);

}
