@import 'base';
@import 'header';
@import 'common';
@import 'footer';
@import 'login';


body {
    color: rgb(254, 254, 254);
    background-color: rgb(249, 0, 58);
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);

}
